body{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
}


.leaflet-container{
    background: #FFFFFF;
}
.leaflet-popup-content{
    width: auto;
    margin: 3px 6px;
    text-align: center;
    text-transform: uppercase;
}
.leaflet-popup-content-wrapper{
    border-radius: 5px;
    background-color: rgba(0,0,0,.66);
    color: white;
}.leaflet-popup-content-wrapper a{
    color: white;
    text-decoration: none;
}.leaflet-popup-content-wrapper a:hover,.leaflet-popup-content-wrapper a:active, .leaflet-popup-content-wrapper a:visited{
    color: white;
}
.leaflet-popup-tip-container{
    opacity: 0;
}
.leaflet-top{
    top: 45%;
    /*bottom: 100px;*/
}
.leaflet-bar a{
    background-color: rgb(92,190,222);
    border-color: transparent;
    color: white;
}.leaflet-bar a:hover{
    background-color: rgb(92,190,222);
    border-color: transparent;
    color: black;
}
.leaflet-popup-close-button{
    /*display: none;*/
}



#map{
    background-color: black;
}

#top{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;
    text-align: right;
    border-radius: 0 0 0 5px;
}
#logo{
    position: absolute;
    left: 35px;
    text-align: left;
}
a#logo, a#logo:hover, a#logo:active, a#logo:focus, a#logo:visited{
    text-decoration: none;
}
#logo img{
    padding: 20px 0px;
    max-width: 120px;
}
#logo h2{
    margin-top: 0;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
#nav_toggle_menu{
    position: absolute;
    right: 60px;
    top: 20px;
    color: #FFFFFF;
}#nav_toggle_menu:hover, #nav_toggle_menu:active{
    color: rgb(92,190,222);
    color: #FFFFFF;

}
.menu{
    overflow: hidden;
    z-index: 99;
    position: absolute;
    top: 0;
    right: -400px;
    height: 100%;
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.16);
    /*background-image: url('../img/PATTERNS2.png');*/
    background-size: 95% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}.menu.deploy{
    right: 0px;
}

.menu .toggle_menu{
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 15px;*/
    /*color: rgb(92,190,222);*/
}
.menu h3{
    margin-bottom: 50px;
    font-weight: bolder;
}
#menu_items{
    height: calc(100% - 75px);
    overflow: auto;
    /*border-bottom: 1px solid rgb(190,190,190);*/
}

.menu a.target{
    display: block;
    padding: 15px 0px 15px 15px;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(220,220,220);
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}.menu a.target:hover, .menu a.target:active{
    background-color: rgb(243,243,243);
    color: rgb(92,190,222);
    text-decoration: none;
}


.description_zone{
    /*display: none;*/
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    right: -200%;
    top: 0;
    padding: 0 50px;
    background-color: #FFFFFF;
    background-image: url('../img/PAT.meTERNS1.png');
    background-size: 30% auto;
    background-position: 15% bottom;
    background-repeat: no-repeat;
    /*box-shadow: 0 0 2px 2px rgba(0,0,0,.2);*/
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.description_zone.deploy{
    /*display: block;*/
    right: 0%;
}
.description_zone .text_{
    padding: 0 40px;
    padding-top: 0;
}
.description_zone h1{
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.pilule{
    width: 40px;
    height: 6px;
    border-radius: 40px;
    background-color: rgb(92,190,222);
}
.description_zone h3{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bolder;
}
.description_zone .caption{
    /*margin-bottom: 50px;*/
    font-weight: lighter;
    line-height: 25px;
}
.description_zone .illustration{
    /*padding: 15px 0;*/
    overflow: hidden;
}
.description_zone .illustration img{
    width: 100%;
    height: auto;
}

.close_ a{
    z-index: 15;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 4px 6px;
    border-radius: 5px;
    color: black;
    background-color: white;
}
#bottom{
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: transparent;
    background-image: url('../img/PATTERNS1.png');
    background-size: auto 60%;
    background-position: right bottom;
    background-repeat: no-repeat;
}
#map_toggle{
    position: absolute;
    bottom: 20px;
    left: 15px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 0;
    /*padding: 10px 20px;*/
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #FEFEFE;*/
    /*border-radius: 0;*/
    /*text-decoration: none;*/
    /*background-color: rgb(92,190,222);*/
    /*border-color: transparent;*/
    /*color: white;*/
/*    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}#map_toggle:hover{
    /*text-decoration: none;*/
    /*color: black;*/
}





.toggle{
    width: 200px;
}

.btn-default{
    border-color: transparent;
}

.btn-primary{
    background-color: rgb(92,190,222);
    border-color: rgb(82,185,210);
}
.btn-primary:hover, .btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus{
    background-color: rgb(82,185,210);
    border-color: rgb(75,175,197);
}


@media screen and (max-width: 768px){
    #logo{
        left: 15px;
    }
    #logo img{
        padding: 20px 0px;
        max-width: 100px;
    }
    #logo h2{
        font-size: 23px;
        margin-top: 0;
    }
    #nav_toggle_menu{
        right: 15px;
    }
    .menu{
        width: 225px;
    }
    .menu a.target{
        border-color: transparent;
    }
    #bottom{
        background-size: 70%;
        /*background-position: center right;*/
        background-image: none;
    }

    .description_zone .text_{
        padding: 0px;
        padding-top: 0;
        background-image: none;
    }
}

